<div class="purchase center-block" data-value={{_id}}>
  <table class="purchase-table">
    <tr class="table-top">
      <td>Item</td>
      <td>Price</td>
    </tr>

    {{#each items}}
      <tr>
        {{> purchased-item}}
      </tr>
    {{/each}}

    <tr class="table-bottom">
      <td>Total:</td><td>${{total}}</td>
    </tr>
  </table>
</div>
